<!DOCTYPE html>
<html>

<head>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


  <title>{{#if titre}} {{titre}} {{else}} Planet Nemiga {{/if}} </title>
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script src="/semantic/semantic.js"></script>
</head>

<body>
  {{#if pseudo}}
  <div class="ui secondary  menu">
  <a class="item">
    <img class="ui tiny circular image" src={{#if personnage}}"/images/avatar{{personnage}}.png" {{else}}"/images/squirrel-monkey-monkey-climb-feeding-47074.jpeg"{{/if}}>
  </a>
  <a href="/joueurs/{{pseudo}}" class="item">
    {{pseudo}}
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Classe
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input placeholder="Search..." type="text">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item" href="/logout">
      Se Déconnecter
    </a>
  </div>
</div>
{{/if}}
  {{{body}}}

<footer>
  <div class="ui inverted vertical footer center aligned segment">
    <div class="ui container">
      <div class="ui inverted section divider"></div>
      <a href="/">
        <img src="/images/logoBlanc.png" class="ui centered tiny image">
      </a>
      <h4>
        <a href="/equipe">Notre Equipe</a>
      </h4>
      <h4>
        <a href="/contact">Nous contacter</a>
      </h4>
    </div>
</footer>
</body>

</html>
