<div class="ui vertical center aligned segment">
      <img class="ui centered small image" src="/images/avatar{{joueur._personnage}}.png" >
      <div class="ui text container">
        <h1>{{joueur._pseudo}}</h1>
      </div>
    </div>

<div class="ui segment">
  <p>
    <div class="ui grid">
      <div class="eight wide column">
        <br>
      </div>
    </div>
    <h3>Personnage : </h3> <img src="/images/{{joueur._personnage}}.png" alt="image du personnage">
    <h3> Experience en maths : {{niveauMath}}</h3>
    <h3>Niveau info : ##niveau info</h3>
    <h3>Ecole : {{joueur._nomEcole}}</h3>
  </p>
</div>
